<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asistenciaunsaapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AsistenciaUnsaApp">
        <activity android:name=".activity.AddAttandanceSessionFacultyActivity"></activity>
        <activity android:name=".activity.ViewAttandanceActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.ViewStudentByBranchYear" />
        <activity android:name=".activity.ViewAttendanceByFacultyActivity" />
        <activity android:name=".activity.AddAttendanceActivity" />
        <activity android:name=".activity.ViewAttendancePerStudentActivity" />
        <activity android:name=".activity.ViewStudentActivity" />
        <activity android:name=".activity.ViewFacultyActivity" />
        <activity android:name=".activity.AddFacultyActivity" />
        <activity android:name=".activity.AddStudentActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.AddAttandanceSessionActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>